body{
  background-color: rgb(116, 134, 233);
}
.topnav a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: dodgerblue;
  color: white;
}
.topnav{
    float: right;
}
div.gap{
  height: 125px;
}
div.con{
  
  
  width: 100%;
 margin-left: 0;
 
 border: 2px;
 border-color: black;
height: 200px;
max-height: 222px;
}
form{
  border: black;
  border-block-start-style: double;
}
div.entry{
  margin: 15px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
h3{
  background-color: rgb(12, 168, 103);
  font-family: sans-serif;
  color: white;
  font-size: 17pt;
  padding: 15px;
  text-align: center;
}
form input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;

}
input.bigarea{
  height:100px;
  
}


p.mention{
  background-color: rgba(95, 158, 160, 0.342);
  text-align: center;
}
div.in{
  
  margin:5px 5px 5px 5px;
}
form input.btn{
  background-color: rgb(34, 63, 228);
  font-family: sans-serif;
  color: aliceblue;
}
form input.btn:hover{
  background-color: mediumblue;
  cursor: pointer;
}

footer{
	position: relative;
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:5px; }
}
 
 
.footer-distributed{
	background-color: #2d454e;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 20%;
}
 
.footer-distributed h3{
	color:  #d7f199;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #c486ee;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #51c3e6;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #f1b8b8;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-icons{
	margin-top: 25px;
	
}
.fa:hover {
	opacity: 0.7;
	
}
.footer-icons{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
    border-radius: 2px;
    
    font-size: 20px;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;

}

 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;

	}

}